---
---

<div class="bg-[#151515] md:py-14 md:px-20 px-10 py-8">
  <div
    class="grid md:grid-cols-5 grid-cols-1 text-white space-y-7 md:space-y-0"
  >
    <div class="flex flex-col text-2xl font-light space-y-7">
      <a href="#" class="">
        <span class="footer-link"> R1T</span>
      </a>
      <a href="#"><span class="footer-link">R1S</span></a>
      <a href="#"><span class="footer-link">Gear Shop</span></a>
    </div>
    <div class="flex flex-col text-2xl font-light space-y-7">
      <a href="#"><span class="footer-link">Fleet</span></a>
      <a href="#"><span class="footer-link">R1S</span></a>
      <a href="#"><span class="footer-link">Gear Shop</span></a>
    </div>
    <div class="flex flex-col text-sm space-y-8">
      <a href="#"><span class="footer-link">Purchasing</span></a>
      <a href="#"><span class="footer-link">Charging</span></a>
      <a href="#"><span class="footer-link">Insurance</span></a>
      <a href="#"><span class="footer-link">Service</span></a>
    </div>
    <div class="flex flex-col text-sm space-y-8">
      <a href="#"><span class="footer-link">Spaces</span></a>
      <a href="#"><span class="footer-link">Investors</span></a>
      <a href="#"><span class="footer-link">Careers</span></a>
      <a href="#"><span class="footer-link">Newsroom</span></a>
      <a href="#"><span class="footer-link">Support</span></a>
    </div>
    <div class="self-end">
      <!-- social links flex row  -->
      <div class="flex flex-row space-x-5">
        <a href="#"
          ><img src="/assets/Linked-In.svg" alt="facebook" class="w-6 h-6" /></a
        >
        <a href="#"
          ><img
            src="/assets/Instagram.svg"
            alt="instagram"
            class="w-6 h-6"
          /></a
        >
        <a href="#"
          ><img src="/assets/Twitter.svg" alt="twitter" class="w-6 h-6" /></a
        >
        <a href="#"
          ><img src="/assets/YoutTube.svg" alt="youtube" class="w-6 h-6" /></a
        >
      </div>
    </div>
  </div>

  <div class="flex flex-row justify-between py-8 text-xs text-white">
    <div class="flex flex-row space-x-5">
      <div class="flex flex-row space-x-5">
        <span class="">© 2023 Rivian. All Rights Reserved.</span>
      </div>
      <a href="#"><span class="footer-link">Terms</span></a>
      <a href="#"><span class="footer-link">Privacy</span></a>
      <a href="#"><span class="footer-link">Cookies</span></a>
      <a href="#"><span class="footer-link">Legal</span></a>
      <a href="#"><span class="footer-link">Recalls</span></a>
    </div>
  </div>
</div>
