---
interface Props{
    text: string
    variant: "btn-filled--default" | "btn-outline--default" | "btn-filled--inverted" | "btn-outline--inverted"
}

const {text, variant} = Astro.props;
---

<button class={variant}>
    {text}
</button>