---
import { Image } from "astro:assets";
import darkLogo from "../assets/header_logo.svg";
import lightLogo from "../assets/rivian-logo_light.svg";
---

<script>
  import gsap from "gsap";
  document.addEventListener("scroll", moveCircle);
  const menuButton = document.querySelector(".menu-button");

  const upperLineFull = document.querySelector(".upper-line-full");
  const bottomLineFull = document.querySelector(".bottom-line-full");

  let open = false;
  menuButton?.addEventListener("click", () => {
    if (!open) {
      gsap.to(upperLineFull, {
        duration: 0.5,
        rotate: 45,
        y: 6,
        ease: "power4.out",
        paused: false,
      });
      gsap.to(bottomLineFull, {
        duration: 0.5,
        rotate: -45,
        y: -4,
        ease: "power4.out",
        paused: false,
      });
      open = true;
    } else {
      gsap.to(upperLineFull, {
        duration: 0.5,
        rotate: 0,
        y: 0,
        ease: "power4.out",
        paused: false,
      });
      gsap.to(bottomLineFull, {
        duration: 0.5,
        rotate: 0,
        y: 0,
        ease: "power4.out",
        paused: false,
      });
      open = false;
    }
  });

  function moveCircle() {
    gsap.to("#nowOpen", {
      duration: 1.7,
      rotate: window.scrollY / 16,
      ease: "power4.out",
    });
  }
</script>

<div
  class="flex justify-between md:px-[3rem] px-5 md:h-[95px] h-16 nav-white default-nav items-center"
>
  <a href="#">
    <Image
      src={darkLogo}
      alt="rivian Logo Dark"
      class="md:h-[33px] h-6 logo-dark w-auto"
    />
    <Image
      src={lightLogo}
      alt="rivian Logo light"
      class="md:h-[33px] h-6 hidden logo-light w-auto"
      height={44}
    />
  </a>

  <nav class="space-x-16 text-lg font-medium md:flex items-center hidden">
    <a href="#" class="main-link">R1T</a>
    <a href="#" class="main-link">R1S</a>
    <a href="#" class="main-link">Gear Shop</a>
    <a href="#" class="main-link">Fleet</a>
    <a href="#" class="main-link">Spaces</a>
  </nav>

  <div class="flex items-center">
    <a href="#" class="md:main-link mr-8 text-lg font-medium hidden">Sign In</a>
    <button class="space-y-2 menu-button">
      <div class="upper-line-full h-[2px] w-4 bg-black"></div>
      <div class="bottom-line-full h-[2px] w-4 bg-black"></div>
    </button>
  </div>
</div>
