---
interface Props {
  className?: string;
}

const { className } = Astro.props as Props;
---

<div class={className}>
  <svg
    width="201"
    height="201"
    viewBox="0 0 201 201"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    id="nowOpen"
    class="w-[125px] md:w-auto"
  >
    <path
      d="M67.6996 167.78C105.089 185.663 149.897 169.85 167.78 132.46C185.663 95.0707 169.85 50.2632 132.46 32.3801C95.0706 14.4969 50.2631 30.31 32.3799 67.6997C14.4968 105.089 30.3099 149.897 67.6996 167.78Z"
      fill="#FA4612"></path>
    <path
      d="M156.179 126.911C141.361 157.891 104.233 170.994 73.2525 156.176C42.2716 141.358 29.1689 104.231 43.9868 73.2501C58.8048 42.2692 95.9321 29.1665 126.913 43.9844C157.894 58.8023 170.997 95.9296 156.179 126.911Z"
      fill="#FA4612"></path>
    <path
      d="M156.291 134.84L156.86 133.818L150.726 130.404L158.611 130.671L159.237 129.547L151.081 125.007L150.512 126.03L156.919 129.595L148.704 129.278L148.135 130.301L156.291 134.84Z"
      fill="white"></path>
    <path
      d="M146.542 138.322C148.238 139.571 150.16 139.372 151.262 137.874C152.364 136.377 151.983 134.483 150.287 133.234C148.592 131.986 146.669 132.185 145.567 133.682C144.465 135.179 144.846 137.074 146.542 138.322ZM149.586 134.187C150.842 135.112 151.176 136.326 150.467 137.289C149.758 138.252 148.499 138.294 147.243 137.369C145.997 136.452 145.664 135.238 146.373 134.275C147.082 133.312 148.34 133.27 149.586 134.187Z"
      fill="white"></path>
    <path
      d="M146.156 143.778L143.275 139.481L147.627 142.253L148.412 141.439L142.49 137.785L141.768 138.534L144.717 143.022L140.125 140.236L139.403 140.985L143.267 146.772L144.035 145.977L141.108 141.726L145.497 144.461L146.156 143.778Z"
      fill="white"></path>
    <path
      d="M138.119 148.359C136.489 146.025 134.246 145.197 132.572 146.365C130.899 147.534 130.893 149.932 132.523 152.267C134.152 154.601 136.406 155.422 138.079 154.253C139.753 153.085 139.748 150.694 138.119 148.359ZM133.514 151.574C132.249 149.762 132.075 148.06 133.205 147.271C134.335 146.483 135.862 147.24 137.127 149.052C138.392 150.864 138.577 152.558 137.447 153.347C136.317 154.136 134.779 153.386 133.514 151.574Z"
      fill="white"></path>
    <path
      d="M126.038 150.314C124.425 151.156 124.267 153.072 125.151 154.766C126.041 156.472 127.698 157.425 129.311 156.583C130.129 156.156 130.53 155.434 130.563 154.654L131.026 155.541L132.063 155L127.833 146.898L126.796 147.44L128.342 150.402C127.678 149.971 126.856 149.887 126.038 150.314ZM129.575 152.706C130.321 154.135 129.815 155.161 129.043 155.564C127.96 156.13 126.88 155.521 126.2 154.219C125.52 152.916 125.638 151.682 126.721 151.116C127.493 150.713 128.636 150.908 129.358 152.291L129.575 152.706Z"
      fill="white"></path>
    <path
      d="M119.555 153.16C118.25 153.642 117.519 154.702 117.535 155.985L118.613 155.975C118.541 155.142 119.004 154.444 119.906 154.111C121.052 153.688 122.16 154.249 122.729 155.563L117.973 157.32L118.108 157.685C118.761 159.454 120.224 160.451 122.054 159.776C123.834 159.118 124.556 157.244 123.853 155.342C123.128 153.379 121.384 152.484 119.555 153.16ZM121.707 158.837C120.561 159.26 119.751 158.645 119.393 157.751L122.979 156.427C123.172 157.589 122.695 158.472 121.707 158.837Z"
      fill="white"></path>
    <path
      d="M115.395 154.721L114.255 154.984L115.166 158.936C115.42 160.038 114.73 160.864 113.906 161.054C112.918 161.282 112.365 160.676 112.152 159.751L111.214 155.684L110.074 155.947L111.082 160.318C111.406 161.724 112.429 162.515 113.835 162.191C114.772 161.975 115.333 161.339 115.574 160.71L115.782 161.609L116.922 161.346L115.395 154.721Z"
      fill="white"></path>
    <path
      d="M98.1046 162.518C99.209 162.553 100.118 161.761 100.154 160.592C100.19 159.449 99.3317 158.602 98.2272 158.568C97.1357 158.534 96.2398 159.326 96.2043 160.469C96.168 161.639 97.0131 162.484 98.1046 162.518Z"
      fill="white"></path>
    <path
      d="M78.3892 162.513L79.5109 162.846L81.5067 156.116L82.9633 163.87L84.1972 164.236L86.8509 155.287L85.7292 154.954L83.6447 161.984L82.1646 153.897L81.0429 153.565L78.3892 162.513Z"
      fill="white"></path>
    <path
      d="M72.8509 153.715C71.9938 155.639 72.5994 157.474 74.2975 158.231C75.9956 158.987 77.765 158.21 78.6221 156.286C79.4791 154.362 78.8736 152.527 77.1755 151.771C75.4773 151.014 73.7079 151.791 72.8509 153.715ZM77.5415 155.805C76.9066 157.23 75.7921 157.815 74.6996 157.328C73.6071 156.841 73.2967 155.622 73.9315 154.197C74.5611 152.783 75.6756 152.198 76.7681 152.685C77.8606 153.172 78.171 154.392 77.5415 155.805Z"
      fill="white"></path>
    <path
      d="M67.2901 154.443L70.8651 150.704L69.0964 155.551L70.0604 156.143L72.3522 149.572L71.4657 149.028L67.718 152.876L69.4489 147.791L68.5624 147.247L63.7441 152.268L64.686 152.846L68.2056 149.072L66.4812 153.947L67.2901 154.443Z"
      fill="white"></path>
    <path
      d="M61.1222 147.609C63.0441 145.508 63.3622 143.139 61.8565 141.761C60.3507 140.383 58.009 140.901 56.087 143.001C54.1651 145.102 53.8565 147.48 55.3623 148.858C56.868 150.236 59.2002 149.709 61.1222 147.609ZM56.979 143.817C58.4709 142.187 60.0939 141.646 61.1105 142.576C62.1272 143.506 61.7221 145.162 60.2302 146.793C58.7383 148.423 57.1249 148.973 56.1082 148.043C55.0916 147.112 55.4871 145.448 56.979 143.817Z"
      fill="white"></path>
    <path
      d="M56.5893 136.23C55.4191 134.836 53.5142 135.094 52.0506 136.323C50.5771 137.56 50.0029 139.383 51.1732 140.777C51.7667 141.484 52.5582 141.719 53.3267 141.583L52.56 142.227L53.3124 143.123L60.3116 137.246L59.5592 136.35L57.0005 138.498C57.2774 137.757 57.1828 136.937 56.5893 136.23ZM55.016 140.199C53.7815 141.235 52.6702 140.963 52.1102 140.296C51.3244 139.36 51.6862 138.173 52.8113 137.229C53.9363 136.284 55.1675 136.133 55.9533 137.069C56.5133 137.736 56.5692 138.895 55.3744 139.898L55.016 140.199Z"
      fill="white"></path>
    <path
      d="M52.4233 130.513C51.6738 129.341 50.4822 128.853 49.2326 129.143L49.4723 130.194C50.2704 129.946 51.0508 130.249 51.5691 131.059C52.2275 132.089 51.9162 133.291 50.7535 134.127L48.0218 129.856L47.6932 130.066C46.1053 131.082 45.443 132.725 46.4937 134.367C47.5163 135.966 49.5012 136.271 51.2096 135.178C52.9728 134.05 53.474 132.156 52.4233 130.513ZM47.3369 133.828C46.6785 132.799 47.1071 131.876 47.9035 131.336L49.9629 134.556C48.8691 134.993 47.9043 134.715 47.3369 133.828Z"
      fill="white"></path>
    <path
      d="M50.0166 126.806L49.5172 125.748L45.8493 127.48C44.8266 127.962 43.8725 127.464 43.5118 126.7C43.0789 125.783 43.5534 125.113 44.4116 124.708L48.1852 122.927L47.6857 121.869L43.6299 123.783C42.325 124.399 41.7695 125.567 42.3855 126.872C42.7962 127.742 43.5371 128.154 44.2035 128.257L43.3689 128.651L43.8683 129.709L50.0166 126.806Z"
      fill="white"></path>
    <path
      d="M39.5552 115.479C39.8268 116.55 40.838 117.206 41.9721 116.918C43.081 116.637 43.6575 115.579 43.3859 114.507C43.1174 113.449 42.1094 112.806 41.0006 113.087C39.8665 113.375 39.2867 114.421 39.5552 115.479Z"
      fill="white"></path>
    <path
      d="M33.9922 100.915L34.06 102.083L41.0682 101.677L34.2686 105.678L34.3432 106.963L43.6615 106.422L43.5937 105.254L36.274 105.679L43.3783 101.542L43.3105 100.374L33.9922 100.915Z"
      fill="white"></path>
    <path
      d="M40.3683 92.6872C38.2678 92.5354 36.7478 93.7289 36.6137 95.5831C36.4797 97.4372 37.8122 98.8369 39.9128 98.9888C42.0133 99.1406 43.5333 97.9471 43.6673 96.093C43.8014 94.2388 42.4688 92.8391 40.3683 92.6872ZM39.9981 97.8089C38.4421 97.6964 37.5129 96.8472 37.5992 95.6543C37.6854 94.4614 38.7271 93.7547 40.283 93.8672C41.826 93.9787 42.7552 94.8279 42.6689 96.0208C42.5827 97.2137 41.541 97.9204 39.9981 97.8089Z"
      fill="white"></path>
    <path
      d="M37.7312 88.062L42.4695 90.1392L37.3092 90.1385L37.084 91.2469L44.0419 91.1485L44.249 90.1293L39.3506 87.9268L44.7202 87.8107L44.9273 86.7916L38.5596 83.9853L38.3396 85.0682L43.0908 87.0816L37.9202 87.132L37.7312 88.062Z"
      fill="white"></path>
    <path
      d="M42.1013 79.7124C44.728 80.8105 47.0656 80.3082 47.8528 78.4251C48.6401 76.542 47.3604 74.5135 44.7337 73.4155C42.107 72.3174 39.7644 72.8316 38.9772 74.7147C38.19 76.5978 39.4746 78.6143 42.1013 79.7124ZM44.2674 74.5309C46.3064 75.3833 47.3648 76.7275 46.8333 77.9989C46.3018 79.2703 44.6066 79.4493 42.5676 78.5969C40.5286 77.7445 39.4652 76.4123 39.9967 75.1409C40.5282 73.8695 42.2284 73.6785 44.2674 74.5309Z"
      fill="white"></path>
    <path
      d="M51.381 71.3513C52.2965 69.7783 51.4088 68.0733 49.7572 67.1119C48.0943 66.1441 46.1845 66.2207 45.269 67.7937C44.8046 68.5914 44.8513 69.4157 45.2393 70.0929L44.3742 69.5893L43.7856 70.6005L51.6841 75.1979L52.2726 74.1867L49.3852 72.506C50.1768 72.5156 50.9167 72.149 51.381 71.3513ZM47.1138 71.214C45.7206 70.4031 45.6007 69.2653 46.0388 68.5125C46.6536 67.4564 47.8925 67.3954 49.1621 68.1343C50.4316 68.8733 50.9904 69.9807 50.3757 71.0369C49.9375 71.7896 48.8665 72.2342 47.5182 71.4494L47.1138 71.214Z"
      fill="white"></path>
    <path
      d="M55.2172 65.6531C56.0631 64.5489 56.1152 63.2623 55.4163 62.1866L54.5108 62.7702C55.0162 63.4357 54.9973 64.2728 54.4122 65.0365C53.6691 66.0065 52.4328 66.1239 51.2502 65.3162L54.3334 61.2915L54.0238 61.0543C52.5274 59.908 50.7574 59.8457 49.5715 61.3937C48.4173 62.9004 48.808 64.8701 50.4179 66.1034C52.0795 67.3762 54.0313 67.2011 55.2172 65.6531ZM50.3662 62.0024C51.1093 61.0324 52.1224 61.1207 52.9019 61.6851L50.5777 64.7191C49.7936 63.8401 49.7258 62.8384 50.3662 62.0024Z"
      fill="white"></path>
    <path
      d="M57.8154 62.1741L58.6404 61.3444L55.7642 58.4846C54.9622 57.6871 55.1062 56.6204 55.702 56.0212C56.417 55.3021 57.2081 55.5205 57.8811 56.1896L60.8402 59.132L61.6652 58.3023L58.4848 55.14C57.4616 54.1225 56.1743 53.9975 55.1568 55.0208C54.4785 55.7029 54.343 56.5398 54.4736 57.2013L53.8191 56.5505L52.9941 57.3802L57.8154 62.1741Z"
      fill="white"></path>
    <path
      d="M64.8156 48.5228C63.9004 49.142 63.6271 50.3157 64.2826 51.2847C64.9236 52.2323 66.1147 52.4153 67.03 51.7962C67.9345 51.1843 68.197 50.0179 67.556 49.0704C66.9004 48.1013 65.7201 47.911 64.8156 48.5228Z"
      fill="white"></path>
    <path
      d="M76.8727 38.2151L75.7956 38.6718L78.5361 45.1348L72.4803 40.0776L71.2954 40.58L74.9393 49.1734L76.0164 48.7166L73.1541 41.9664L79.4394 47.2652L80.5166 46.8084L76.8727 38.2151Z"
      fill="white"></path>
    <path
      d="M86.6421 41.4542C86.0726 39.4267 84.4343 38.4016 82.6446 38.9043C80.8548 39.4071 79.99 41.1354 80.5595 43.1629C81.1291 45.1904 82.7674 46.2155 84.5571 45.7128C86.3468 45.2101 87.2117 43.4818 86.6421 41.4542ZM81.6985 42.8429C81.2766 41.3411 81.7603 40.179 82.9117 39.8555C84.0632 39.5321 85.0813 40.2723 85.5032 41.7742C85.9216 43.2635 85.4378 44.4257 84.2864 44.7491C83.135 45.0725 82.1168 44.3323 81.6985 42.8429Z"
      fill="white"></path>
    <path
      d="M90.1411 37.3713L89.7974 42.5334L88.0447 37.68L86.9258 37.8447L89.3824 44.3553L90.4113 44.2038L90.8185 38.8484L92.7521 43.8592L93.781 43.7077L94.2568 36.7653L93.1636 36.9263L92.8842 42.0789L91.08 37.2331L90.1411 37.3713Z"
      fill="white"></path>
    <path
      d="M99.606 38.6148C99.4645 41.4583 100.73 43.4867 102.769 43.5882C104.807 43.6896 106.281 41.7975 106.423 38.954C106.564 36.1106 105.285 34.0815 103.247 33.9801C101.208 33.8786 99.7475 35.7714 99.606 38.6148ZM105.215 38.894C105.105 41.1012 104.2 42.553 102.824 42.4845C101.447 42.416 100.704 40.8822 100.814 38.6749C100.923 36.4677 101.816 35.0152 103.192 35.0837C104.568 35.1522 105.325 36.6867 105.215 38.894Z"
      fill="white"></path>
    <path
      d="M110.157 44.429C111.948 44.7507 113.246 43.3329 113.584 41.452C113.924 39.5583 113.198 37.7901 111.407 37.4684C110.498 37.3052 109.74 37.6313 109.237 38.2277L109.413 37.2425L108.262 37.0356L106.646 46.0307L107.798 46.2375L108.389 42.9492C108.651 43.6962 109.248 44.2659 110.157 44.429ZM108.825 40.3727C109.11 38.7861 110.138 38.2839 110.995 38.4379C112.198 38.6539 112.679 39.797 112.42 41.2428C112.16 42.6887 111.311 43.5928 110.108 43.3768C109.251 43.2229 108.466 42.3688 108.742 40.8333L108.825 40.3727Z"
      fill="white"></path>
    <path
      d="M117.073 46.1458C118.399 46.5668 119.627 46.1792 120.401 45.1567L119.545 44.5029C119.091 45.2042 118.297 45.4705 117.38 45.1793C116.215 44.8095 115.685 43.6865 116.044 42.2999L120.876 43.8343L120.994 43.4626C121.564 41.666 121.022 39.9798 119.164 39.3897C117.355 38.8153 115.635 39.8513 115.021 41.7842C114.387 43.779 115.214 45.5557 117.073 46.1458ZM118.861 40.3437C120.025 40.7136 120.286 41.6966 120.02 42.6213L116.377 41.4647C116.938 40.4288 117.857 40.0251 118.861 40.3437Z"
      fill="white"></path>
    <path
      d="M121.271 47.4238L122.332 47.9164L124.04 44.2374C124.516 43.2115 125.568 42.9831 126.334 43.3388C127.254 43.7657 127.319 44.584 126.919 45.4448L125.162 49.2299L126.224 49.7225L128.112 45.6543C128.719 44.3454 128.398 43.0927 127.089 42.4852C126.216 42.0802 125.383 42.2382 124.806 42.5865L125.195 41.7493L124.133 41.2567L121.271 47.4238Z"
      fill="white"></path>
    <path
      d="M136.834 49.5697C135.942 48.918 134.745 49.058 134.055 50.0029C133.38 50.9267 133.611 52.1095 134.503 52.7612C135.385 53.4052 136.572 53.2575 137.246 52.3337C137.936 51.3888 137.716 50.2137 136.834 49.5697Z"
      fill="white"></path>
    <path
      d="M150.422 57.2546L149.627 56.3961L144.476 61.1656L147.18 53.7539L146.306 52.8095L139.457 59.1511L140.252 60.0096L145.632 55.0282L142.778 62.7377L143.573 63.5962L150.422 57.2546Z"
      fill="white"></path>
    <path
      d="M150.783 67.7013C152.501 66.483 152.916 64.5953 151.84 63.079C150.765 61.5626 148.846 61.3294 147.128 62.5477C145.411 63.766 144.996 65.6537 146.072 67.1701C147.147 68.6864 149.066 68.9196 150.783 67.7013ZM147.813 63.5127C149.085 62.6103 150.342 62.6749 151.034 63.6505C151.726 64.6261 151.372 65.8339 150.099 66.7363C148.837 67.6312 147.58 67.5665 146.888 66.591C146.196 65.6154 146.551 64.4076 147.813 63.5127Z"
      fill="white"></path>
    <path
      d="M155.826 69.6913L150.848 71.1002L154.832 67.8202L154.301 66.8214L148.993 71.3207L149.481 72.2391L154.662 70.8252L150.591 74.3284L151.079 75.2468L157.779 73.3648L157.26 72.3891L152.312 73.8553L156.272 70.5294L155.826 69.6913Z"
      fill="white"></path>
    <path
      d="M157.745 78.84C155.022 79.6696 153.542 81.5473 154.136 83.4998C154.731 85.4522 157.01 86.1984 159.734 85.3689C162.457 84.5394 163.934 82.6492 163.339 80.6967C162.744 78.7443 160.469 78.0105 157.745 78.84ZM159.382 84.2124C157.268 84.8563 155.595 84.496 155.193 83.1778C154.792 81.8596 155.983 80.6405 158.098 79.9966C160.212 79.3526 161.88 79.7005 162.282 81.0187C162.683 82.3369 161.496 83.5684 159.382 84.2124Z"
      fill="white"></path>
    <path
      d="M155.879 90.9092C156.184 92.7036 157.958 93.4441 159.842 93.1243C161.738 92.8023 163.156 91.5201 162.851 89.7257C162.697 88.8157 162.133 88.2126 161.401 87.9412L162.388 87.7737L162.192 86.6202L153.182 88.1497L153.378 89.3032L156.672 88.744C156.058 89.2438 155.725 89.9993 155.879 90.9092ZM159.244 88.2811C160.833 88.0113 161.654 88.8082 161.8 89.6669C162.004 90.8717 161.092 91.7122 159.644 91.958C158.195 92.2039 157.057 91.7114 156.852 90.5067C156.707 89.648 157.244 88.6205 158.782 88.3594L159.244 88.2811Z"
      fill="white"></path>
    <path
      d="M156.595 97.9646C156.65 99.3545 157.432 100.377 158.657 100.758L158.98 99.7308C158.166 99.5418 157.646 98.8858 157.608 97.9245C157.56 96.7035 158.436 95.8232 159.861 95.6888L160.062 100.755L160.451 100.739C162.335 100.665 163.736 99.5819 163.659 97.6334C163.584 95.7369 162.025 94.4715 159.999 94.5515C157.907 94.6342 156.518 96.0161 156.595 97.9646ZM162.659 97.6729C162.707 98.894 161.871 99.4734 160.911 99.5374L160.76 95.7184C161.925 95.8935 162.617 96.6208 162.659 97.6729Z"
      fill="white"></path>
    <path
      d="M156.799 102.461L156.693 103.626L160.732 103.995C161.859 104.097 162.428 105.011 162.351 105.852C162.259 106.862 161.511 107.199 160.566 107.112L156.41 106.733L156.304 107.899L160.77 108.306C162.207 108.437 163.278 107.712 163.409 106.275C163.497 105.317 163.067 104.586 162.545 104.16L163.464 104.244L163.57 103.079L156.799 102.461Z"
      fill="white"></path>
    <path
      d="M160.073 117.482C160.383 116.422 159.845 115.343 158.722 115.015C157.624 114.694 156.59 115.313 156.28 116.373C155.974 117.421 156.515 118.487 157.613 118.808C158.736 119.137 159.767 118.53 160.073 117.482Z"
      fill="white"></path>

    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M87.023 75.5169L98.2698 86.7637V66.3945H102.52V86.7649L113.768 75.5169L116.773 78.5221L101.898 93.3971H98.8928L84.0178 78.5221L87.023 75.5169ZM75.5179 87.0224L86.7653 98.2698H66.3955V102.52H86.7653L75.5179 113.767L78.5231 116.772L93.3981 101.897V98.8922L78.5231 84.0172L75.5179 87.0224ZM125.273 87.0224L114.026 98.2698H134.395V102.52H114.026L125.273 113.767L122.268 116.772L107.393 101.897V98.8922L122.268 84.0172L125.273 87.0224ZM98.27 114.025L87.0228 125.272L84.0176 122.267L98.8926 107.392H101.898L116.773 122.267L113.768 125.272L102.52 114.025V134.395H98.27V114.025Z"
      fill="white"></path>
  </svg>
</div>
