---
---

<script>
  import gsap from "gsap";
  import Hls from "hls.js";
  var video = document.querySelector("#video") as HTMLMediaElement;
  const initVideoPlayer = () => {
    var videoSrc = "https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8";

    if (Hls.isSupported() && video) {
      var hls = new Hls();
      hls.loadSource(videoSrc);
      hls.attachMedia(video);
    } else if (video.canPlayType("application/vnd.apple.mpegurl")) {
      video.src = videoSrc;
    }
  };

  gsap.set(".yellow-ball", {
    xPercent: -50,
    yPercent: -50,
    autoAlpha: 1,
    scale: 0,
  });

  let xTo = gsap.quickTo(".yellow-ball", "x", {
      duration: 0.1,
      ease: "power3",
    }),
    yTo = gsap.quickTo(".yellow-ball", "y", { duration: 0.6, ease: "power3" });

  const videoContainer = document.querySelector(".video-container");

  const playButton = document.querySelector(".yellow-ball");
  playButton?.addEventListener("click", () => {
    if (video.paused) {
      video.play();
    } else {
      video.pause();
    }
  });

  initVideoPlayer();
  videoContainer?.addEventListener("mouseover", () => {
    gsap.to(".yellow-ball", {
      scale: 1,
      opacity: 1,
      duration: 0.5,
      overwrite: "auto",
    });
  });

  // using videoContainer position, determine if mouse is over the video

  let videoContainerPosition = videoContainer?.getBoundingClientRect();
  console.log(videoContainerPosition);

  videoContainer?.addEventListener("mouseout", (e: any) => {
    console.log("leaving", e.relatedTarget);
    gsap.to(".yellow-ball", {
      scale: 0,
      opacity: 0,
    });
  });

  videoContainer?.addEventListener("mouseleave", () => {
    console.log("leaving");
    gsap.to(".yellow-ball", {
      scale: 0,
      opacity: 0,
    });
  });
  window.addEventListener("mousemove", (e) => {
    xTo(e.clientX);
    yTo(e.clientY);
  });
</script>
<div
  class="bg-slate-500 md:h-screen py-20 relative flex items-center justify-center bg-[url('/assets/forever-grunge-texture-2x.jpg')] overflow-hidden"
>
  <div
    class="video-container px-3 pointer-events-auto relative md:w-[60vw] w-[500px] overflow-hidden flex flex-col justify-start"
  >
    <div class="uppercase text-white max-w-[190px] font-light mb-5">
      Our Contribution to the planet
    </div>
    <video
      id="video"
      class="md:h-full w-[450px] md:w-auto"
      poster="/assets/videoposter.png"></video>
    <div
      class="yellow-ball h-36 w-36 bg-yellow-600 fixed top-0 left-0 rounded-full flex items-center justify-center"
    >
      Play
    </div>
    <button class="self-end text-white flex items-center mt-2">
      <span class="mr-2"> Explore</span>
      <!-- caret right html -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 21 21"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
      </svg>
    </button>
  </div>
</div>
